* {
  font-family: "IBM Plex Sans", sans-serif;
}

#scroll-container {
  max-width: 1100px;
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable mandatory vertical snapping */
}

#scroll-container > .scroll-body {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#swiper {
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#swiper > .swiper-body {
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

* {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
